@media screen and (max-width: 900px) {
  .sub-modal__content{
    width: 90%;
  }
  .user-info {
    width: 90%;
  }
}
@media screen and (min-width: 900px) {
    .header {
      height: 100%;
    }
    .header-overflow {
        display: flex;
    }
    .nav-bar {
      height: 60px;
      background-color: #344960;
    }
    .nav-bar__title {
      font-size: 18px;
      word-spacing: 3px;
    }
    .nav-bar__title_small {
      font-size: 14px;
    }
    .nav-bar__image {
      width: 45px;
      height: 45px;
    }
    .nav-bar__menu-button {
        display: none;
    }
    .header-menu {
      display: block;
      line-height: 4rem;
      padding-bottom: 15px;
    }
    .menu__item {
      display: inline-block;
      border: none;
      height: 100%;
      padding: 0 5px;
    }
    .menu__link {
      display: inline-block;
      height: 100%;
    }
    .menu__link:hover {
      border-bottom: 2px solid #e97e22;
      color: #f39f57;
    }
    .header__description {
      padding-top: 13px;
      line-height: 20px;
      width: 85%;
      font-size: 16px;
    }
    .header__description_full {
        display: inline;
    }
    .header__button {
        display: none;
    }
    .header__title {
        font-size: 36px;
    }
    .header__form {
        display: block;
        width: 280px;
    }
    .header__content {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 81px;
        padding-bottom: 86px;
    }
    .header-content__wripper {
      width: 560px;
    }
    .header__description {
        text-align: inherit;
    }
    .header__title {
        text-align: inherit;
    }
    .service-list {
        display:block;
        padding-left: 81px;
        padding-top: 25px;
        line-height: 34px;
    }
    .call-modal__form {
        width: 100%;
    }
    .call-modal__input {
        width: 100%;
        padding: 0;
        text-indent: 50px;
    }
    .call-modal__button {
        width: 100%;
        padding-top: 0;
    }
    .sub {
        width: 280px;
    }
    .sub__wrapper {
        max-width: 755px;
        margin: 0 auto; 
    }
    .sub__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .article__title {
      font-size: 22px;
    }
    .benefits__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-bottom: 25px;
    }

    .benefits {
        padding: 0;
        max-width: 160px;
        padding-right: 4.4%;
        padding-top: 25px;
    }
    summary::-webkit-details-marker {
    display: none
    }
    summary:after {
        border-radius: 5px;
        content: "+";
        color: #fff;
        float: left;
        font-size: 1.5em;
        font-weight: bold;
        padding: 0;
        text-align: center;
        width: 20px;
        display: flex;
        align-items: center;
        margin-top: -33px; 
    }
    details[open] summary:after {
        content: "-";
    }
    .services__item_wrapper {
        margin-left: 15px;
    }
    .services__item_title {
        padding-left: 15px;
    }
    .services__item_description {
        margin-left: 35px;
    }
    .article__title_contacts {
        display: none;
    }
    .article__title_size_full{
        display: block;
    }
    .tabs__item {
        width: 400px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 18px;
    }
    .tabs__item_visible {
    background-image: url('../images/tab_desktop.png');
    }
    .article_contacts {
      background-image: none;
    }
    .contacts {
      max-width: 295px
    }
    .article__background {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('../images/bg_contact.jpg');
    }
    .contacts__title {
      display: block;
    }
    .contacts__wrapper {
        display: flex;
        justify-content: space-around;
        padding-bottom: 55px;
        padding-top: 35px;
    }
    .contacts__button {
        display: none;
    }
    .contacts__form {
        display: block;
        width: 280px;
    }
    .contacts__map {
        display: block;
    }
    .footer {
        height: 100px;
    }
    .footer__content {
        flex-direction: row-reverse; 
    }
    .footer__copyright {
        width: 75%;
    }
    .footer__logo {
        display: block;
        margin-right: 35px;
    }
    .footer__description {
        display: block;
    }
    .footer__description_size_short {
        display: none; 
    }
    .footer__description_size_full {
        display: block;
    }
}
