@media screen and (min-width: 800px) {
    .sub {
        width: 280px;
    }
    .sub__wrapper {
        max-width: 755px;
        margin: 0 auto; 
    }
    .sub__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}